@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer base {
  body {
    font-weight: 400;
  }
}


@layer base {
  :root {
    --background: 48 83% 96%; /* #FCF9EE */
    --foreground: 24 10% 10%; /* #1C1917 */
    
    --card: 48 83% 96%;
    --card-foreground: 24 10% 10%;

    --popover: 48 83% 96%;
    --popover-foreground: 24 10% 10%;

    --primary: 80 44% 45%; /* #8DB64E - Olive Green */
    --primary-foreground: 24 10% 10%;

    --secondary: 158 95% 25%; /* #047857 - Emerald Green */
    --secondary-foreground: 0 0% 100%;

    --muted: 48 40% 90%;
    --muted-foreground: 24 5% 40%;

    --accent: 48 30% 92%;
    --accent-foreground: 24 10% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 80 20% 80%;
    --input: 80 20% 80%;
    --ring: 80 44% 45%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 24 10% 10%;
    --foreground: 48 83% 96%;
    
    --card: 24 10% 10%;
    --card-foreground: 48 83% 96%;

    --popover: 24 10% 10%;
    --popover-foreground: 48 83% 96%;

    --primary: 80 44% 45%;
    --primary-foreground: 24 10% 10%;

    --secondary: 158 95% 25%;
    --secondary-foreground: 0 0% 100%;

    --muted: 24 5% 15%;
    --muted-foreground: 48 5% 60%;

    --accent: 24 5% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 24 5% 25%;
    --input: 24 5% 25%;
    --ring: 80 44% 45%;
  }
}
 
@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
  ::selection {
    background-color: hsl(var(--primary) / 0.7);
    color: hsl(var(--primary-foreground));

    
  }
}
