@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
}

@layer base {
  :root {
    --background: 348 22% 14%; /* #2B1D20 */
    --foreground: 60 56% 91%; /* #F5F5DC */
    
    --card: 348 22% 16%;
    --card-foreground: 60 56% 91%;

    --popover: 348 22% 12%;
    --popover-foreground: 60 56% 91%;

    --primary: 45 74% 52%; /* #D4AF37 */
    --primary-foreground: 348 22% 10%;

    --secondary: 348 20% 20%;
    --secondary-foreground: 45 74% 52%;

    --muted: 348 20% 25%;
    --muted-foreground: 60 50% 80%;

    --accent: 348 20% 20%;
    --accent-foreground: 60 56% 91%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 348 20% 25%;
    --input: 348 20% 25%;
    --ring: 45 74% 52%;

    --radius: 0.5rem;
  }
 
  .dark {
    --background: 348 22% 14%;
    --foreground: 60 56% 91%;
    
    --card: 348 22% 16%;
    --card-foreground: 60 56% 91%;

    --popover: 348 22% 12%;
    --popover-foreground: 60 56% 91%;

    --primary: 45 74% 52%;
    --primary-foreground: 348 22% 10%;

    --secondary: 348 20% 20%;
    --secondary-foreground: 45 74% 52%;

    --muted: 348 20% 25%;
    --muted-foreground: 60 50% 80%;

    --accent: 348 20% 20%;
    --accent-foreground: 60 56% 91%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 348 20% 25%;
    --input: 348 20% 25%;
    --ring: 45 74% 52%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  ::selection {
    @apply bg-primary/70 text-primary-foreground;
  }
}
